/* body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 100px 20px 100px 100px; */
    grid-template-rows: 15% 4% 40% 40%;
    grid-column-gap: 1em;
    justify-content: space-evenly;

    grid-template-areas:
        'header header header'
        'userList albumList albumList'
        'userList photoList photoList'
        'userList photoList photoList';
}

/* input[type='select'] {
    width: 420px;
    margin-left: 35px;
    display: block;
} */

h1 {
    /* justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */

    grid-area: header;
    justify-self: center;

    font-size: 2em;
    /* border: 2px solid black; */
}

/* .userContainer {
    margin: 1.5em;
    max-width: 30em;
    float: left;
} */

/* h2 {
    margin: 1.5em;
    text-align: center;
} */

.userList {
    border: 1px solid black;
    grid-area: userList;
}

.userList h2 {
    margin: 1em;
    text-align: center;
}

.userItem {
    border: 1px solid black;
    margin: 0.5em;
}

.userItem p {
    margin: 0.25em;
    text-align: center;
}

.albumList {
    grid-area: albumList;
    /* width: 60%; */
    /* float: right; */
}

.photoList {
    grid-area: photoList;
    margin-top: 2em;
    height: 200px;
    /* margin: 1em;
    width: 60%;
    float: right; */
}
.photoList img {
    width: 4em;
    height: 4em;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */
