main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 15% 4% 40% 40%;
    grid-column-gap: 1em;
    justify-content: space-evenly;

    grid-template-areas:
        'header header header'
        'userList albumList albumList'
        'userList photoList photoList'
        'userList photoList photoList';
}

h1 {
    grid-area: header;
    justify-self: center;

    font-size: 2em;
}

h2 {
    margin-top: 1em;
    text-align: center;
}

.userList {
    border: 1px solid black;
    grid-area: userList;
}

.userItem {
    border: 1px solid black;
    margin: 0.5em;
}

.userItem p {
    margin: 0.25em;
    text-align: center;
}

.albumList {
    grid-area: albumList;
}

.albumList h2 {
    grid-area: albumList;
    justify-self: center;
}

.photoList {
    grid-area: photoList;
    margin-top: 2em;
    height: 200px;
}

.photoList img {
    width: 4em;
    height: 4em;
}
